rules_version = '2';
service cloud.firestore {
  function isAdmin(uid, appId) {
    return get(/databases/$(database)/documents/artifacts/$(appId)/users/$(uid)).data.role == 'admin';
  }

  match /databases/{database}/documents {
    match /artifacts/{appId}/users/{userId}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /artifacts/{appId}/products/{productId} {
      allow read: true;
      allow create, update, delete: if request.auth != null && isAdmin(request.auth.uid, appId);
    }
  }
}
